/*https://colorhunt.co/palette/ffe6e6f2d1d1daeaf1c6dce4*/
:root{
    --sidebar-bgcolor: #F2D1D1;
    --main-bgcolor: #FFE6E6;
    --card-bgcolor: #DAEAF1;
    font-family: 'Joan', serif;
    font-size: 16px;
}

body {
    display: flex;
}

img {
    width: 100%;
    height: auto;
}

/* --- sidebar ---- */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    background-color: var(--sidebar-bgcolor);
    height: 100vh;
    width: 20%;
}

.sidebar-title {
    font-size: xx-large;
}

.signature {
    
}



/* --- shelf ---- */
.shelf {
    background-color: var(--main-bgcolor);
    height: 100vh;
    width: 70%;
    margin: 3rem 0rem 5rem 5rem;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "card card card card card";
    grid-template-columns: repeat(5,1fr);
}

.card {
    background-color: var(--card-bgcolor);
}

/* --- modal ---- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbga(245,40,145,0.8); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}